name: Create PDF from latex

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: LaTeX compilation
        uses: dante-ev/latex-action@v0.2.0
        with:
          root_file: zusammenfassung.tex
